---
import LayoutWrapper from '../components/LayoutWrapper.vue'
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <link rel="icon" type="image/x-icon" href="/images/favicon.png">
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet" />
        <link href="/css/custom.css" rel="stylesheet" />
        <style>
            [x-cloack] {display: none;}
            html,body{
                scroll-behavior: smooth;
            }
        </style>
          <!-- vueuc's style will be inserted here -->
          <meta name="vueuc-style" />
        <!-- naive-ui's style will be inserted here -->
          <meta name="naive-ui-style" />

        <meta name="generator" content={Astro.generator} />
        <title>{ title ?? 'Home' } | Beth Rapha Cancer Foundation Kenya</title>
    </head>

    <body>
        <LayoutWrapper>
           <slot />

            <div class="bg-linear-pink-invert pb-12">
                <div class="mx-auto container pt-20 lg:pt-40 flex flex-col items-center justify-center">
                    <div>
                         <img src="images/logo-icon.svg" class="w-[150px]" alt="">
                    </div>
                    <div class="text-cyan-900 flex flex-col md:items-center f-f-l pt-3">
                        <h1 class="text-2xl font-black">Care. Support. Encourage.</h1>

                        <div class="my-6 text-base text-color f-f-l">
                            <ul class="md:flex items-center">
                                <li class="md:mr-6 cursor-pointer pt-4 lg:py-0"><a class="hover:underline" href="/">Home</a></li>
                                <li class="md:mr-6 cursor-pointer pt-4 lg:py-0"><a class="hover:underline" href="/about-us">About</a></li>
                                <li class="md:mr-6 cursor-pointer pt-4 lg:py-0"><a class="hover:underline" href="/contact-us">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="text-sm text-color mb-10 f-f-l">
                            <p>© { new Date().getYear() } Beth Rapha Cancer Foundation. All rights reserved</p>
                        </div>
                    </div>

                </div>
            </div>
        </LayoutWrapper>
    </body>
</html>
